/* navbar */
.navbar-custom {
  background-color:#d8d8d8;
  border-radius:0;
  font-family: 'Poiret One', cursive;
}

.navbar-custom .navbar-nav > li > a {

    text-decoration: none;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {

    background-color:transparent;
}
.navbar-custom .navbar-brand {
  font-family: 'Poiret One', cursive;
  font-size: 24pt;
  background-color: transparent;

  text-decoration: none;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #005a22;
}


/*Pictures*/
.headerpics{
  display: inline;
  height: 250px;
  width: 750px;
  position: fixed;
  z-index: 10;

}


img {
  padding: 5px;
  height: 250px;
}


/*LEFT WINDOW*/
#dinnerInfo {

  height: 500px;
  background-color: rgba(216,216,216,1);
  top: 250px;
  border-color: red;
  border: 10px;
}

#dinnerInfo h1 {
  font-family: 'Poiret One', cursive;
  font-weight: 400;
}

#dinnerInfo h3 {
  font-family: 'Poiret One', cursive;
  font-weight: 100;
}

#dinenrContainer {
  border:10px;
  border-color: red;
  height: 500px;
  background-color: rgba(67,18,0,.4);
  top: 250px;
}

#dinenrContainer h2 {
  font-family: 'Poiret One', cursive;
  font-weight: 200;
}



.container {
  position: fixed;
  width: 100%;
  padding-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;


}


.dinnerRow {
  background-color: rgba(255,255,255,.25);
  margin: 5;

}

.partysize {
  text-align: left;
}

a {
  text-decoration: none !important;
}