<<!-- div class="header">



</div>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a href="/">Suga's</a>
    <a href="/dinners">Dinners</a>
    <a href="/guests">Guests</a>
    <a class="headeralignright" href="/admin">Login</a>
  </div>
</nav> -->

<div class="row">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Garden2Table</a>
  </div>
  <div class="navbar-header navbar-right">
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active">
      <%= link_to('Dinners', dinners_path) %></li>
      <li><%= link_to('Guests', guests_path) %></li>
      <li><a class="headeralignright" href="/admin">Login</a></li>
    </ul>
  </div>
</nav>
</div>